#row1 {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 208, 0);
    padding-left: 12px;
    border-radius: 15px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(255, 208, 0);
    color: rgb(235, 235, 235);
}

.logo {
    font-family: 'Audiowide', cursive;
    font-size: 70px;
    padding-left: 10px;
    color: rgb(255, 208, 0);
}



#contt {
    background-color: rgb(221, 3, 3);
    margin-top: 20px;
    border-radius: 20px;
    
}

.welcome {
    text-align: center;
    padding-top: 8px;
    color: rgb(235, 235, 235);
    font-size: 22px;
    

}

.card {
    margin: 15px;
    background-color: rgb(20, 20, 20);
    text-align: center;
    font-size: 20px;
    
}

#header {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 208, 0);
    
}

.card-title {
    color: rgb(255, 208, 0);
    font-size: 45px;
    font-family: 'Audiowide', cursive;
}

#newsPic {
    height: 318px;
}

.navbar {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 208, 0);
}

.bf {
    font-family: 'Audiowide', cursive;
}

footer {
    text-align: center;
    position: center;
    color: rgb(36, 36, 36);
}

h3 {
    color: rgb(228, 228, 228);
    font-size: 31px;
    font-family: 'Share Tech Mono', monospace;
    
}

#signIn {
    padding-top: 25px;
    font-family: 'Audiowide', cursive;
}

.cards {
    background-image: url("https://notenoughdata.files.wordpress.com/2012/11/opera_background_speaker_wallpaper_dump-s1920x1200-210084-e1315944568221.jpg");
    background-size: contain;
    border: solid;
    border-color: black;
    border-block-end-width: thick;
    
}
